* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background-color: rgb(241, 245, 251);;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

#choices {
    margin-bottom: 20px;
}

#timer {
    margin-bottom: 10px;
}

.card {
    background-color: white;
    max-width: 600px;
    padding: 30px 30px 30px 30px;
    border: none;
    border-radius: 30px;
    text-align: center;
    font-size: 25px;
    border-radius: 30px;
    background: linear-gradient(145deg, white, rgb(241, 245, 251));
    background:  rgb(241, 245, 251);
    box-shadow:  50px 50px 100px #c4c4c7, -150px -150px 100px #ffffff;
}

h1 {
    font-size: 40px;
    margin-bottom: 40px;
}

h2 {
    margin-bottom: 10px;
}

p {
    margin-bottom: 20px;
}

li {
    margin-left: 80px;
}

button {
    color: #090909;
    padding: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    border-radius: 12px;
    background: rgb(241, 245, 251);
    border: none;
    transition: all .1s;
    box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
}

button:hover {
    transition: 0.2s ease-in-out;
    background-color: rgb(157, 105, 241);
    cursor: pointer;
}

button:active {
    color: black;
    box-shadow: inset 2px 2px 12px #c5c5c5, inset -2px -2px 12px #888888;
}