* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: rgb(246, 246, 246);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.card {
    background-color: rgb(251, 253, 253);
    max-width: 500px;
    padding: 30px 30px 30px 30px;
    border: 3px solid black;
    border-radius: 10px;
    text-align: center;
}

h1 {
    font-size: 30px;
    margin-bottom: 50px;
}

button {
    margin: 10px;
    background-color: rgb(157, 105, 241);
    border-radius: 3px;
    cursor: pointer;
}

